.new-tweet {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet textarea {
  border-style: hidden;
  border-bottom: 4px solid black;
  background-color: transparent;
  margin-bottom: .5em;
  resize: none;
  color: black;
}

.new-tweet div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

.new-tweet button {
  background-color: #4056A1;
  color: #FFFFFF;
}

.invalid {
  color: red;
}